*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.body{
}
.header{
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#navBar {
    background-color: #013444;
    color: #ffff;
    height: 58px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
ul{
      
    list-style: none;
    display: flex;
    color: #fff;
    
}
i{
    color: #fff;
}
li{
    margin: 10px;
    padding: 5px;
}

input[type='text']{
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

button{
    border: none;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    
}
form{
    margin-left: auto;
    padding-right: 18px;
    
}
.innerLogo{
    text-align: center;
    margin: 20px 0px 0px;
    color: #013444;
    /* font-size: 16px; */
}

.major{
    background-color:#81d8d0;

}

/* section one */
.innerHeadOne{
    background-color: #fff;
    /* height: 600px; */
    width: 90%;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 3px #ccc;
    /* padding-top: 20px; */
}
.textbox{
    color: #fff;
    font-size: 30px;
    margin: 25px 60px 0px;
}

.innerContent{
    display: flex;
    flex-direction: column;
    
    
}
.innerContent > div{
    width: 80%;
    margin: 30px;
    color: #013444;
    font-size: 13px;
    margin-top: 10px;
}

.innerHeadTwo-content{
    display: flex;
    flex-direction: column;
}
.innerHeadTwo-content > div{
    width: 40%;
    height: 250px;
}

/* comment session */
#respond {
    margin-top: 40px;
    margin-left: 20px;
  }
  
  #respond input[type='text'],
  #respond input[type='email'], 
  #respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  
    line-height: 1.4em;
  }
/* for blogread html link */
  #blogPost{
    width: 80%;
    margin: 90px;
    display: inline-block;
    
  }
  /* For readers to add comment */
  .boxCommment{
      width: 80%; 
      border-radius: 5px;
      box-shadow: 0 3px 3px #ccc;
      padding: 30px;
  }